body {
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
html {
    cursor: url(/imagens/mata_mosca.png) 30 30, auto;
}